.input {
    border-radius: 3px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px; 
    position: relative;
    border: 1px solid #F1F1F1;
    width: 100%;
}

.inputPlaceholder {
    color: #1111117A;
    font-size: 13px;
    position: absolute;
    pointer-events: none;
    left: 15px;
    right: 15px;
    top: 8px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
}

.inputLegacy {
    outline: none;
    border: none;
    font-size: 14px;
    padding-top: 15px;
}
  /* read !!!*/
.inputLegacy:focus~.inputPlaceholder,
.inputLegacy:not(:focus):valid~.inputPlaceholder {
    top: -2px;
}